.center {
    justify-content: space-between;
}
.profile {
    font-family: sans-serif;
    text-align: center;
    max-width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.profile__image {
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto 20px auto;


}

.profile__name {
    font-size: 16px;
    font-weight: bold;
    
}

.profile__title {
    margin-bottom: 20px;
}

.profile__detail {
    display: flex;
    align-items: center;
    justify-content: center;
}