<div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single_prising text-center">
                            <div class="prising_header">
                                    <h3></h3>
                                    <span>$45/m</span>
                            </div>
                            <div class="pricing_body">
                                <ul>
                                    <li>24h unlimited access</li>
                                    <li>Trainer Advice</li>
                                    <li class="off-color">Locker + Bathroom</li>
                                    <li class="off-color">Personal trainer</li>
                                </ul>
                            </div>
                            <div class="pricing_btn">
                                    <a href="#" class="boxed-btn3">Join Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single_prising text-center">
                            <div class="prising_header">
                                    <h3>Expert</h3>
                                    <span>$45/m</span>
                            </div>
                            <div class="pricing_body">
                                <ul>
                                    <li>24h unlimited access</li>
                                    <li>Trainer Advice</li>
                                    <li class="off-color">Locker + Bathroom</li>
                                    <li class="off-color">Personal trainer</li>
                                </ul>
                            </div>
                            <div class="pricing_btn">
                                    <a href="#" class="boxed-btn3">Join Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single_prising text-center">
                            <div class="prising_header">
                                    <h3>Pro</h3>
                                    <span>$45/m</span>
                            </div>
                            <div class="pricing_body">
                                <ul>
                                    <li>24h unlimited access</li>
                                    <li>Trainer Advice</li>
                                    <li class="off-color">Locker + Bathroom</li>
                                    <li class="off-color">Personal trainer</li>
                                </ul>
                            </div>
                            <div class="pricing_btn">
                                    <a href="#" class="boxed-btn3">Join Now</a>
                            </div>
                        </div>