<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/signup.css">
    <title>For You</title>
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <img src="../static/media/logo.png" class="logo">
            <ul>
                <li><a href="#">Sign up to access all of our features!</a></li>
            </ul>

        </div>
    </div>

    <div class="content">
        {% if user_type == "Trainee" %}
            <h1>Trainers for you!</h1>
        {% else %}
            <h1> Trainees for you!</h1>
        {% endif %}
        <h2>These people suit your need for {{training_type}}</h2>
    </div>

    <div class="center">
        
    </div>
    
</body>
</html>